@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

.dark:root {
  --background: 10 10 10;
  --foreground: 229 231 235;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-purple-600 to-pink-600 bg-clip-text text-transparent;
  }
}